*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}

body{
    overflow: hidden;
}

#main{

    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

button{
    height: 20px;
    width: 50px;
    background-color:rosybrown;
    border: none;
    border-radius: 4px;
    padding: 2.5px 0px;
    font-size: 7px;
    font-weight: 500;
    position: relative;
    z-index: 10;
}
button:active{
    scale: 0.95;
}
